/* cs/styles.css */

body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
#sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 2px;
    overflow-y: auto;
}
#main-frame {
    width: 60%;
    padding: 2px;
    text-align: center;
    overflow: auto;
}
#details {
    width: 30%;
    background-color: #f4f4f4;
    padding: 2px;
    overflow-y: auto;
}
.nav-bar {
    width: 30px;
    background-color: #ccc;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}
.picture-item {
    cursor: pointer;
    margin-bottom: 2px;
}
.picture-item img {
    width: 100%;
    height: auto;
}
.picture-item:hover {
    background-color: #e0e0e0;
}
#main-frame img {
    max-width: auto;
    height: 100%;
}
#slideshow-button, #stop-slideshow-button {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
#slideshow-button:hover, #stop-slideshow-button:hover {
    background-color: #0056b3;
}
.icon-container {
    position: absolute;
    animation: bobble 5s infinite ease-in-out;
}
@keyframes bobble {
    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
    50% {
        transform: translate(10px, 10px) rotate(10deg);
    }
}
.moving-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.5s, width 0.5s, height 0.5s;
}
.icon:hover {
    z-index: 1000;
}
@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
.microbe-icon {
    width: 50px;
    height: 50px;
    pointer-events: none;
    transition: transform 1s;
    opacity: 0.8; /* Adjust transparency */
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
}

/* Add this to css/styles.css */
button {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.moving-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it stays in the background */
}